<div class="container">
  <div class="panel panel-default pull-left">
    <div class="panel-heading">
      <%= link_to language.name, language_path(language) %>
    </div>
    <div class="panel-body">
      <%= language.description %>
    </div>
  </div>
</div>
