
<div class="container">
  <%= link_to "Add a language", new_language_path, class: "btn btn-primary btn-md pull-right" %>
  <row id="languages">
    <div class="col-md-4" id="language">
      <%= render @languages %>
    </div>
  </row>
</div>