<% if @pending_mentor_coaching_requests.any? %>
  <div id="authorship-invitations" class="well">
    <h3>Coaching invitations pending your approval</h3>
    <%= render @pending_mentor_coaching_requests %>
  </div>
<% end %>
    

<div class="container">

  <%= link_to "Add a language", new_language_path, class: "btn btn-primary btn-md pull-right" %>
  <row id="languages">
    <div class="col-md-4" id="language">
      <%= render @languages %>
    </div>
  </row>
</div>
