<div id="land">
  <div class = "vcenter">
    <h3>
      Learn a language
      <i class="fa fa-share-alt-square" aria-hidden="true"></i>  
    </h3>
    <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>    
    <%= link_to "Sign in using facebook", new_user_registration_path, class: "btn btn-outline" %>
    
  </div>
  

</div>